<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Emma's Small Engine</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="inventory_header">
        <nav class="sidenav">
            <div class="log_content">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/eseLogo.png" alt="company logo">
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    ESE
                </a>
            </div>
            <ul id="pageLinks">
                <li class="no_pointer_fornow">
                    <a asp-area="" asp-controller="#" asp-action="#">
                        <i class="fa-regular fa-user lg"></i>
                        <span class="links_name" id="greeting">Hello Emma</span>
                    </a>
                    <span class="menu tooltip" id="greetingTooltip">Emma</span>
                </li>

                <li>
                    <a asp-area="" asp-controller="Inventories" asp-action="Index">
                        <i class="fa-solid fa-warehouse"></i>
                        Inventory
                    </a>
                </li>

                <li>
                    <a asp-area="" asp-controller="Suppliers" asp-action="Index">
                        <i class="fa-regular fa-handshake"></i>
                        <span class="links_name">Suppliers</span>
                    </a>
                    <span class="menu tooltip">Suppliers</span>
                </li>

                <li>
                    <a asp-area="" asp-controller="Customers" asp-action="Index">
                        <i class="fa-solid fa-users"></i>
                        <span class="links_name">Customers</span>
                    </a>
                    <span class="menu tooltip">Customers</span>
                </li>

                <li class="no_pointer_fornow">
                    <a asp-area="" asp-controller="#" asp-action="#">
                        <i class="fa-regular fa-credit-card"></i>
                        <span class="links_name">POS</span>
                    </a>
                    <span class="menu tooltip">POS</span>
                </li>

                <li class="no_pointer_fornow">
                    <a asp-area="" asp-controller="#" asp-action="#">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        <span class="links_name">Order Requests</span>
                    </a>
                    <span class="menu tooltip">Order Requests</span>
                </li>

                <li class="no_pointer_fornow">
                    <a asp-area="" asp-controller="#" asp-action="#">
                        <i class="fa-solid fa-chart-pie"></i>
                        <span class="links_name">Analytics</span>
                    </a>
                    <span class="menu tooltip">Analytics</span>
                </li>

                <li class="no_pointer_fornow">
                    <a asp-area="" asp-controller="#" asp-action="#">
                        <i class="fa-solid fa-gear"></i>
                        <span class="links_name">Manage Roles</span>
                    </a>
                    <span class="menu tooltip">Manage Roles</span>
                </li>
            </ul>
        </nav>
        <div class="logout">
            <a href="#" onclick="loggingOut()" tabindex="63">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="links_name">Log out</span>
            </a>
            <span class="menu tooltip">Log out</span>
        </div>

        <p class="rights"><i class="fa-regular fa-copyright"></i>  Copyright Hammer Wing</p>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
